<div align="center">{% extends 'base.html' %}
  {% block main %}
</div>
<div>
 
  <h1 align="center">M H Saboo Siddik College of Engineering</h1>
  <h3 align="center">Training and placement cell</h3>




 <p align="center">
   
<div align="center">
  
    {% if user and not user.is_anonymous %}
    
    
      <a>Hello {{ user.get_full_name|default:user.username }}!</a><br>
    
    
    
    
      <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a><br>
    
    {% else %}
    
    
    
      <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with Google</a><br>
    
    
    {% endif %}
    
  
</div>
</p>
</div>
<div align="center"> {% endblock %}</div>
