{% extends 'base.html' %}
{% block main %}
 <div>
 <h1>M H Saboo Siddik College of Engineering</h1>

<h3>Training and placement cell</h3>



 <p>
   <ul>
   {% if user and not user.is_anonymous %}
     <li>
       <a>Hello {{ user.get_full_name|default:user.username }}!</a>
     </li>
    
     <li>
       <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
     </li>
   {% else %}
     
     <li>
       <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with Google</a>
     </li>
     
   {% endif %}
   </ul>
 </p>
 </div>
{% endblock %}